<html>
  <head>
    <title> Instacart - Shopper Application</title>

    <link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

  </head>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">></script>
  <script src="/static/js/parsley.min.js"></script>
  <script src="/static/js/controller.js"></script>

  <header align="center"  style="color:white; background-color:rgb(97,180,80)">
    <br>
    <img src="/static/img/instacart_logo.png">
    <h2> <i> <font face='Lucida Console'> Personal Shopper Application </font> </i> </h2>
    
    <br>
  </header>
  
  <br><br><br>

  <body>
    {% block content %}{% endblock %}
  </body>

  <br><br><br>

  <footer align="center" style="color:white; background-color:rgb(97,180,80)">
    <br>
    <h3> <i> <font face='Lucida Console'> "let's change grocery shopping together" </font> </i> </h3>
    <br>
    <p>Contact information: <a style="color:white" href="support@instacart.com">support@instacart.com</a>
    <br><br>
  </footer>
</html>
